{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Schedule{% endblock %}

{% block page_content %}
    <div class="page-header">
    <head>
        <meta charset="UTF-8">
        <title>College Course Schedule Helper</title>
        <link rel="stylesheet" href='/static/style.css'>
    </head>
    <h1>College Course Schedule Helper</h1>
    <h3>Departments: {{ department1 }} and {{ department2 }}.</h3>
    {{ wtf.quick_form(form) }}
    <body>
        <table>
                <tr>
                    <th>Courses </th>
                    <th>Course Title</th>
                    <th>Sections.number</th>
                    <th>Courses.department</th>
                    <th>Sections.Professor</th>
                    <th>Sections.meeting</th>
                </tr>
                {%for key, value in session['course_info'].items()%}
                 <tr>
                     <td>{{ key }}</td>
                     <td>{{ value }}</td>
                     {%endfor%}
            </tr>
        </table>
    </body>
</div>
{% endblock %}